
.main{
    width: 600px !important;
    height: 600px !important;
    display:flex;
    flex-direction: column;
    justify-content: center !important;
    margin-left: 30%;
}


.root{
    min-width: 75px !important;
    display:flex;
    flex-direction: column;
    justify-content: center !important;
    padding:100px;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center !important;
   
}