.box{
    display:flex;
    flex-direction: column;
    justify-content: center !important;
}

.root{
    min-width: 75px !important;
    display:flex;
    flex-direction: column;
    justify-content: center !important;
    padding:100px;
}
.color{
    display:flex;
    /* flex-direction: column; */
    /* justify-content: center !important; */
    padding:10px;
}
.button{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.main{
    width: 600px !important;
    height: 600px !important;
    display:flex;
    flex-direction: column;
    justify-content: center !important;
    margin-left: 30%;
    margin-bottom: 30px !important;
}